.transition {
    animation: transitionIn 1.5s;
}

.transition-1 {
    animation: transitionIn1 1s;
}

.sectransition {
    animation: transitionIn2 1s;
}

.sectransition-1 {
    animation: transitionIn3 1s;
}

@keyframes transitionIn {
    from {
        opacity: 0.6;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes transitionIn1 {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes transitionIn2 {
    from {
        opacity: 0.75;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes transitionIn3 {
    from {
        opacity: 0.75;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}